*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 249, 239);
}

.header h1{
    padding-top: 10px;
    text-align: center;
    background-color: rgb(157, 209, 192);
    font-weight: 1000;
    font-size: 40px;
    height:70px;
}
.para p{
    padding-top: 20px;
    padding-left: 70px;
    width:1300px;
    
}
.para{
    margin-bottom: 30px;
    
}
li{
    margin-left: 70px;
    padding-bottom: 12px;
}
.deslist,.Instructions{
    margin-left: 67px;
}